/*colour variables and general text colour*/
* {
    --dark-blue: #0D1B2A;
    --beige: #E0E1DD;
    --dark-grey-blue: #1B263B;
    --navy: #415A77;
    --grey-blue: #778DA9;
    font-family: Arial, Helvetica, sans-serif;
}

/*body styling*/
body {
    background-color: var(--dark-blue);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    margin: 0;
    /*fallback height*/
    min-height: 100vh;
    /*small viewport height*/
    min-height: 100svh;
}

/*header styling*/
header {
    background-color: var(--dark-grey-blue);
}

/*footer styling*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*positioning and padding*/
    padding: 20px;
    margin-top: auto;
    /*styling*/
    background-color: var(--navy);
}

/*hamburger menu*/
.off-screen-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /*text styling*/
    color: var(--beige);
    background-color: var(--dark-grey-blue);
    font-size: 1.5rem;
    /*postioning*/
    height: 75%;
    width: 50%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    /*shadow*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    /*smooth animation*/
    transition: .3s ease;    
}

.menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100%;
}

/*link colours*/
a {
    text-decoration: none;
}

a:visited {
    color: var(--beige);
}

.off-screen-menu.active {
    right: 0;
}

nav {
    display: flex;
    margin: 10px;
    background-color: var(--dark-grey-blue);
}

/*no navbar for mobile viewport*/
.desktop-tablet-nav {
    display: none;
}

/*collapsible(hamburger) menu icon*/
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 50px;
    background-color: var(--grey-blue);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/*hamMenu icon turns into an X when the menu is open*/
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.blurb {
    height: 35rem;
    width: 100%;
    background-image: repeating-radial-gradient(var(--navy) 9%, var(--dark-blue) 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-style: italic;
}

.blog-preview {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: repeating-conic-gradient(var(--dark-blue) 10%, var(--dark-grey-blue) 20%);
    font-weight: bold;
}

.blog-preview a {
    color: rgb(188, 223, 224);
    font-style: italic;
}

.tiles {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
}

.projectsMain {
    height: 100vh;
    width: 100vw;
    background-image: url(/docs/project.jpg);
    background-position: center;
}

.popoutWindow {
    padding: 10px;
    height: 40vh;
    width: 50vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey-blue);
    color: var(--beige); 
    margin-left: 35vw;
    margin-top: -65vh;
    position: relative;
    z-index: 2;
}

/*misnamed but used to reveal the pop-out window*/
.hidden {
    display: flex;
}

/*misnamed but used to hide the pop-out window*/
.revealed {
    display: none;
}

.one {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/docs/Parchment.00.jpg);
    color: var(--dark-blue);
    font-weight: bold;
    font-style: oblique;
}

.two {
    height: 25vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/docs/360_F_296838026_5dOH2I2zl5zl7NlAPhcPOERznYwHh69c.jpg);
    background-position: center;
    font-weight: bold;
    font-style: oblique;
}

.three {
    height: 25vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/docs/wow-users-thumn.png);
    background-position: center;
    color: var(--dark-blue);
    font-weight: bold;
    font-style: oblique;
}

.four {
    height: 25vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/docs/website.jpg);
    background-position: top right;
    color: var(--beige);
    font-weight: bold;
    font-style: oblique;
}

.aboutDiv img {
    height: 25vh;
    width: 13vw;
}

.aboutDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.post1Div img {
    height: 25vh;
    width: 13vw;
}

.post1Div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.post2Div img {
    height: 25vh;
    width: 13vw;
}

.post2Div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.post3Div img {
    height: 25vh;
    width: 13vw;
}

.post3Div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.post4Div img {
    height: 25vh;
    width: 13vw;
}

.post4Div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.post5Div img {
    height: 25vh;
    width: 13vw;
}

.post5Div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.bloghpDiv {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
}

.bloghpDiv .Post:nth-child(1) {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey-blue);
    font-weight: bold;
    font-style: oblique;
}

.bloghpDiv .Post:nth-child(2) {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    color: var(--dark-blue);
    font-weight: bold;
    font-style: oblique;
}

.bloghpDiv .Post:nth-child(3) {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey-blue);
    font-weight: bold;
    font-style: oblique;
}

.bloghpDiv .Post:nth-child(4) {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    color: var(--dark-blue);
    font-weight: bold;
    font-style: oblique;
}
.bloghpDiv .Post:nth-child(5) {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey-blue);
    font-weight: bold;
    font-style: oblique;
}

@media only screen and (min-width: 600px) {
    .ham-menu {
        display: none;
    }
    
    .off-screen-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header {
        margin: -20px;
    }

    .desktop-tablet-nav {
        display: initial;
    }

    .desktop-tablet-nav h1 {
        margin-left: 50px;
        margin-right: 120px;
        padding-bottom: 10px;
    }

    .desktop-tablet-nav ul {
        list-style-type: none;
        background-color: var(--dark-blue);
        padding: 0;
        margin: 0;
        padding-top: 10px;
        overflow: hidden;
    }

    .desktop-tablet-nav a {
        color: var(--beige);
        text-decoration: none;
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .desktop-tablet-nav a:hover {
        background-color: #152c44;
    }

    .desktop-tablet-nav li {
        float: left;
    }

}

@media only screen and (max-width:600px) {
    .popoutWindow {
        margin-left: 5vw;
    }
}

@media only screen and (max-width: 801px) {
    .popoutWindow {
        margin-left: -20vw;
    }
}

@media only screen and (min-width: 801px) {
    .ham-menu {
        display: none;
    }
    
    .off-screen-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header {
        margin: -20px;
    }

    .desktop-tablet-nav h1 {
        margin-right: 200px;
    }
}

@media only screen and (min-width: 956px) {
    .ham-menu {
        display: none;
    }
    
    .off-screen-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header {
        margin: -20px;
    }

    .desktop-tablet-nav h1 {
        margin-right: 300px;
    }
}

@media only screen and (min-width: 1100px) {
    .ham-menu {
        display: none;
    }
    
    .off-screen-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header {
        margin: -20px;
    }

    .desktop-tablet-nav h1 {
        margin-right: 400px;
    }
}

@media only screen and (min-width: 1300px) {
    .ham-menu {
        display: none;
    }
    
    .off-screen-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header {
        margin: -20px;
    }

    .desktop-tablet-nav h1 {
        margin-right: 500px;
    }
}

@media only screen and (min-width: 1600px) {
    .ham-menu {
        display: none;
    }
    
    .off-screen-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header {
        margin: -20px;
    }

    .desktop-tablet-nav h1 {
        margin-right: 675px;
    }
}